﻿body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
}
header {
    background-image: url('../Images/Northwind.jpg');
    background-position: left;
    background-repeat: no-repeat;
    height: 156px;
}
section {
    padding: 1em;
}
#itemTemplate {
    background-color: #DCDCDC;
    color: #000000;
}
#alternatingItemTemplate {
    background-color: #FFF8DC;
}
#editItemTemplate {
    background-color: darkblue;
    color: #FFFFFF;
}
#selectedItemTemplate {
    background-color: darkblue;
    font-weight: bold;
    color: #FFFFFF
}
#itemPlaceholderContainer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#dataPagerBackground {
    text-align: center;
    background-color: #CCCCCC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}
.error {
    margin-top: 1em;        
    color: darkviolet;
}

.asterick {
    color: yellow;
}